.search-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 ,0, 0, .6);
  color: rgb(30, 30, 30);
  z-index: 1;
}

.search-modal__dialog {
  position: absolute;
  background-color: white;
  top: 12px;
  left: 110px;
  right: 110px;
  min-width: 760px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.search-modal__form {
  margin: 8px;
  display: flex;
  align-items: center;
}

.search-modal__icon {
  height: 20px;
  width: 20px;
  fill: rgb(100, 100, 100);
}

.search-modal__icon--search {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 6px;
}

.search-modal__icon--close {
  margin-right: 20px;
}

.search-modal__input {
  flex: 1;
  border: none;
  padding: 6px;
  font-size: 15px;
  outline: none;
}

.search-modal__button--close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal__results {
  padding: 8px 0;
  border-top: 1px solid rgb(220, 220, 220);
}

.search-modal__result-item {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 6px 14px;
}

.search-modal__result-item:hover {
  color: white;
  background-color: rgb(18, 100, 163);
}

.search-modal__result-image {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-right: 12px;
}
.search-modal__result-name {
  font-weight: 700;
  margin-right: 12px;
}
.search-modal__result-text {
  flex: 1;
}

@media (max-width: 960px) {
  .search-modal__dialog {
    left: 12px;
    right: 12px;
  }
}
