.channel {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(29, 28, 29);
}

.channel-header__icon {
  height: 18px;
  width: 18px;
  fill: rgb(120, 120, 120);
  vertical-align: bottom;
}

.channel-header {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 60px;
  padding: 2px 16px;
}

.channel-header__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 13px;
  color: rgb(100, 100, 100);
}

.channel-header__inner {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  position: relative;
}

.channel-header__name {
  font-size: 14px;
  font-weight: 700;
  color: black;
  padding-right: 6px;
}

.channel-header__button:hover {
  border-radius: 2px;
  background-color: rgb(245, 245, 245);
}

.channel-header__members {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

.channel-header__topic {
  height: 24px;
  display: flex;
  align-items: center;
}

.channel-header__topic-inner {
  border-left: 1px solid #CCC;
  padding: 0px 6px;
}

.channel-header__topic-edit {
  display: none;
  margin-left: 3px;
}

.channel-header__topic:hover .channel-header__topic-inner {
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 4px 6px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, .1);
}

.channel-header__topic:hover .channel-header__topic-edit {
  display: inline;
}

.channel-header__details {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

.channel-header__icon--details {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}



.channel-header__details:hover {
  background-color: rgb(245, 245, 245);
  color: black;
  fill: black;
}

.channel-header__details:hover .channel-header__icon--details {
  fill: black;
}

.channel-messages {
  flex-grow: 1;
  border-top: 1px solid #CCC;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.channel-messages__date-divider {
  display: flex;
  justify-content: center;
  border-top: 1px solid #CCC;
  margin-top: 20px;
  margin-bottom: -10px;
}

.channel-messages__date-label {
  border: 1px solid #CCC;
  border-radius: 20px;
  box-shadow: 0 1px 3px 0 rgba(100, 100, 100, .1);
  padding: 8px;
  position: relative;
  top: -50%;
  font-size: 13px;
  font-weight: 600;
  background-color: white;
}

.channel-header__search {
  padding: 6px 8px;
  margin-right: 8px;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(160, 160, 160);
  border-radius: 4px;
  min-width: 100px;
}

.channel-header__search:hover {
  border-color: rgb(100, 100, 100);
  color: rgb(18, 100, 163);
}

.channel-header__icon--search {
  margin-right: 6px;
}

.channel-header__search:hover .channel-header__icon--search {
  fill:  rgb(18, 100, 163);
}