.sidebar-category {
  /* border-top: 1px solid rgb(82, 38, 83); */
  color: rgb(207,195,207);
  font-size: 15px;
}

.sidebar-controls {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
}

.sidebar-title {
  line-height: 25px;
  flex-grow: 1;
  color: rgb(207,195,207);
  text-align: left;
}

.sidebar-control-icon {
  height: 18px;
  width: 18px;
  fill:  rgb(207,195,207);
}

.sidebar-control-icon--collapse {
  height: 25px;
  width: 25px;
  transition: transform .1s linear;
}

.sidebar-control-icon--rotate270 {
  transform: translate3d(0,0,0) rotate(-90deg);
}

.sidebar-control-icon--plus {
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  padding: 1px;
  border-radius: 4px;
}
.sidebar-control-icon--plus:hover {
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-channel {
  height: 28px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 28px;
  cursor: pointer;
}
.sidebar-channel:hover {
  background-color: rgb(53, 13, 54);
}

.sidebar-channel--selected, .sidebar-channel--selected:hover {
  color: white;
  background-color: rgb(17, 100, 163);
}

.sidebar-channel-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-channel__icon {
  fill: white;
  height: 16px;
  padding-right: 6px;
  text-align: center;
  width: 16px;
}
/* .sidebar-channel-name:before {
  content: "#";
  padding-right: 6px;
} */

.sidebar-channels-list--collapsed .sidebar-channel {
  display: none;
}

.sidebar-channels-list--collapsed .sidebar-channel--selected {
  display: flex;
}