a:visited {
  color: rgb(18, 100, 163);
}

button {
  border: none;
  background: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

.root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-bar {
  background-color: #350D36;
  height: 40px;
  flex: 0 0 auto;
}

.app-container {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.sidebar {
  background-color: rgb(63, 14, 64);
  color: rgb(207,195,207);
  flex: 0 0 auto;
  font-size: 15px;
  width: 220px;
}

.sidebar__search {
  margin: 4px 12px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.sidebar__search:hover {
  background-color: rgba(255, 255, 255, .2);
}

.sidebar__icon {
  fill: rgba(255, 255, 255, .8);
  height: 18px;
  width: 18px;
  margin-right: 4px;
  margin: 0 2px;
}